.parent {
  width: 100vw;
  box-sizing: border-box;
}

nav {
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #f0f4f8;

  transition: width 0.3s ease-in-out;
}

nav.open {
  width: 77vw;
}
nav.notOpen {
  width: 95vw;
}

aside {
  background-color: #e9eef6;
  transition: width 0.3s ease-in-out;
}
aside.open {
  width: 23vw;
}
aside .img {
  position: fixed;
  top: 1.7vw;
  left: 1.5vw;
  cursor: pointer;
}
aside .message {
  top: 5.7vw;
}

aside .newChate,
.chats {
  width: 100%;
  position: relative;
  top: 3.7vw;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1vw 1.4vw;
  gap: 0.5vw;
}
.newChate div {
  display: flex;
  position: relative;
  right: 1vw;
  gap: 0.5vw;
  justify-content: start;
  padding: 1vw 1vw;
}
.newChate div:hover {
  background-color: rgba(128, 128, 128, 0.13);
  cursor: pointer;
  border-radius: 3vw;
  width: 90%;
}

aside .newChate.notopen {
  display: none;
}
.newChate .newchate {
  font-size: 1.1vw;
  padding-top: 0.2vw;
  font-weight: 500;
}
aside .chats {
  top: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  box-sizing: border-box;
}
.chats #history {
  width: 100%;
  position: relative;
  right: 1vw;
  box-sizing: border-box;
  /* background-color: lightcoral; */
  height: 60vh;
  overflow: auto;
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color: lightcoral transparent;
}
#history p {
  width: 100%;

  padding: 0.6vw 1vw;
  border-radius: 3vw;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
}
#history p:hover {
  color: rgba(0, 0, 255, 0.821);
  background-color: rgba(128, 128, 128, 0.13);
}
.chats #headOfChats {
  font-size: 1vw;
  font-weight: 500;
}
aside .chats.notopen {
  display: none;
}
.setting {
  width: 100%;
  padding: 1vw;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 3vw;
  gap: 0.7vw;
}
.setting:hover {
  background-color: rgba(128, 128, 128, 0.13);
  cursor: pointer;
}
.setting img {
  height: 1.7vw;
  width: 1.7vw;
  object-fit: cover;
}
.setting p {
  font-size: 1.1vw;
  font-weight: 500;
}
.setting.notOpen {
  display: none;
}

.hero {
  padding: 1vw;
  background-color: #f0f4f8;
  padding-top: 5vw;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: width 0.3s ease-in-out;
}

.hero.open {
  width: 77vw !important;
}
.hero.notOpen {
  width: 95vw;
}
.HeroRapper {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.HeroRapper.hide{
  justify-content: end;
}
.HeroText {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.HeroText.hide{
  display: none;
}
.HeroText.dontHide{
  display: inline;
}
.HeroText span img {
  height: 3vw;
  width: 3vw;
}
.HeroText span {
  display: flex;
  gap: 0.5vw;
  align-items: center;
}
.HeroText p {
  font-size: 1.7vw;
}
.HeroText h1 {
  font-size: 2.7vw;
}

.inputFeild {
  margin-bottom: 1vw;
  width: 100%;
  border-radius: 2vw;
  overflow: hidden;
}
.inputFeild .input {
  display: flex;
  background-color: white;
  overflow: hidden;
  height: 8vw;
  margin: 1vw 0vw;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 2vw;
  border: 0.1vw rgba(128, 128, 128, 0.296) solid;

}
.input img {
  height: 1.6vw;
  width: 1.6vw;
  object-fit: cover;
  background-color: white;
}

.input textarea {
  outline: none;
  padding: 1.5vw;
  resize: none;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.758);
  font-size: 1.2vw;
  font-weight: 500;
}
.input img {
  position: absolute;
  cursor: pointer;
}
.input #upload {
  bottom: 0.5vw;
  right: 4vw;
}
.input #send {
  bottom: 0.5vw;
  right: 1.5vw;
}

.suggestions{
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-between;
}
.suggestions .suggest{
  background-color: white;
  padding: .3vw .3vw;
  width: 10.5vw;
  height: 4vw;
  border-radius: 5vw;
  color: rgb(76, 76, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.suggestions.hide{
  display: none;
}
.suggestions.dontHide{
  display: flex;
}




@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}


.Response{
  width: 100%;
  padding: 1vw;
  height: 40vw;
  background-color: lightcoral;
  overflow: auto;
}

